<section class="advantages adv-section">
        <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item adv-line">
                <div class="advantages-icon-box">
                        <svg class="advantages-icon" width="32" height="32">
                            <use href="./img/sprait.svg#icon-emoji"></use>
                        </svg>
                </div>
                <h3 class="advantages-title">Unsurpassed taste</h3>
                <p class="advantages-text">Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
            </li>
            <li class="advantages-item adv-line">
                <div class="advantages-icon-box">
                        <svg class="advantages-icon" width="32" height="32">
                            <use href="./img/sprait.svg#icon-Coin"></use>
                        </svg>
                </div>
                <h3 class="advantages-title">Affordable price</h3>
                <p class="advantages-text">Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.</p>
            </li>
            <li class="advantages-item">
                <div class="advantages-icon-box">
                        <svg class="advantages-icon" width="32" height="32">
                            <use href="./img/sprait.svg#icon-spoon"></use>
                        </svg>
                </div>
                <h3 class="advantages-title">Own production</h3>
                <p class="advantages-text">We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.</p>
            </li>
        </ul>
        </div>
    </section>
    <div class="backdrop-buy is-hidde" data-modal>
        <div class="modal-buy">
            <button class="modal-buy-close" data-modal-close type="button">
                <svg class="modal-buy-close-icon" width="14" height="14">
                    <use href="./img/sprait.svg#mob-menu-close"></use>
                </svg>
            </button>
            <p class="modal-buy-title"><span class="buy-part-title">buy</span> now</p>
            <ul class="modal-buy-list list">
                <li class="modal-buy-card">
                    <div class="modal-buy-mobile">
                    <img src="./img/desktop-img/buy-now-desktop-1-1x.png" class="modal-buy-img" alt="a piece of chocolate" width="120" height="107">
                    <div class="buy-border-card">
                        <p class="buy-border-text">100 g</p>
                    </div>
                    </div>
                </li>
                <li class="modal-buy-card">
                    <div class="modal-buy-mobile">
                    <img src="./img/desktop-img/buy-now-desktop-2-1x.png" class="modal-buy-img" alt="chocolate with nuts" width="120" height="107">
                    <div class="buy-border-card">
                        <p class="buy-border-text">200 g</p>
                    </div>
                    </div>
                </li>
                <li class="modal-buy-card">
                    <div class="modal-buy-mobile">
                    <img src="./img/desktop-img/buy-now-desktop-3-1x.png" class="modal-buy-img-dark" alt="dark chocolate" width="120" height="111">
                    <div class="buy-border-card">
                        <p class="buy-border-text">300 g</p>
                    </div>
                    </div>
                </li>
            </ul>
            <form class="modal-buy-form">
                <label for="user-name" class="modal-buy-input-text">Personal information</label>
                <div class="modal-form-buy">
                <input type="text" name="user-name" id="user-name" class="modal-buy-input" placeholder="Name" required>
                <input type="text" name="user-surname" class="modal-buy-input" placeholder="Surname" required>
                </div>
                <label for="user-email" class="modal-buy-input-text">Email</label>
                <input type="email" name="user-email" id="user-email" class="modal-buy-input-info" placeholder="Enter your email" required>

                
                <label for="user-phone" class="modal-buy-input-text">Phone number
                    <span class="modal-span-input">+380</span>
                <input type="tel" pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" name="user-phone" id="user-phone" class="modal-buy-input-info" placeholder="Phone number" required>
                <svg class="modal-buy-input-icon" width="32" height="32">
                    <use href="../img/sprait.svg#Ukraine"></use>
                </svg>
                </label>
                
                <label for="user-card" class="modal-buy-input-text">Card number</label>
                <input type="tel" name="user-card" id="user-card" class="modal-buy-input-info" placeholder="Enter card" required>
                <div>
                    <label class="modal-buy-input-text" for="user-text">Comment</label>
                    <textarea name="user-text" id="user-text" class="modal-buy-comment" placeholder="Enter text"></textarea>
                </div>
                <button class="modal-buy-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>