<footer class="footer footer-container">
    <div class="container ">
        <div class="footer-nav">
            <div class="footer-title-container">
                <h2 class="footer-title" id="footer"><span class="footer-title footer-two">Chocolate </span>a delicious
                    cure for a
                    bad day
                </h2>
            </div>
            <div class="footer-contacts">
                <div class="footer-address-list">
                    <p class="footer-text">Contact us</p>
                    <address class="footer-address">
                        <ul class="footer-address-list">
                            <li class="footer-address-link">
                                <a href="tel:+380684439426" class="footer-link footer-tel">+380 (68) 443-94-26</a>
                            </li>
                            <li class="footer-address-link">
                                <a href="mailto:simplychoc@gmail.com"
                                    class="footer-link footer-mail">simplychoc@gmail.com</a>
                            </li>
                        </ul>
                    </address>
                </div>
                <div class="footer-social">
                    <ul class="footer-social-list">
                        <li class="footer-social-item"><a href="https://www.instagram.com" target="_blank"
                                class="footer-social-link"><svg class="footer-icon" width="22" height="22">
                                    <use href="./img/sprait.svg#mob-insta"></use>
                                </svg></a></li>
                        <li class="footer-social-item"><a href="https://twitter.com" target="_blank"
                                class="footer-social-link"><svg class="footer-icon" width="22" height="22">
                                    <use href="./img/sprait.svg#mob-twitter"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-menu">
            <ul class="footer-menu-list">
                <li class="footer-menu-item">
                    <a href="#home" class="footer-menu-link">Home</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#how_its_made" class="footer-menu-link">How it's made?</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#our_products" class="footer-menu-link">Our products</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#top_sellers" class="footer-menu-link">Top sellers</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#chocolate_is_loved" class="footer-menu-link">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </div>
</footer>