<footer class="footer">
    <div class="container">
        <h2>Chocolate a delicious cure for a bad day</h2>
        <div class="footer-contact">
            <p class="footer-text">Contact us</p>
            <div class="footer-contacts">
                <ul class="footer-address list">
                    <li>
                        <a href="mailto:simplychoc@gmail.com" class="mail">simplychoc@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:+380684439426" class="tel">+380 (68) 443-94-26</a>
                    </li>
                </ul>
                <ul class="footer-social list">
                    <li class="footer-social-item"><a href="" class="footer-social-link link"><svg class="footer-icon"
                                width="22" height="22">
                                <use href="./img/sprait.svg#icon-instagram"></use>
                            </svg></a></li>
                    <li class="footer-social-item"><a href="" class="footer-social-link link"><svg class="footer-icon"
                                width="22" height="22">
                                <use href="./img/sprait.svg#icon-twitter"></use>
                            </svg></a></li>
                </ul>
            </div>

        </div>
        <div class="footer-menu">
            <ul class="footer-menu-list list">
                <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link link">Home</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link link">How it’s made?</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link link">Our products</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link link">Top sellers</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link link">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </div>
</footer>