<header class="head">
    <div class="container asd">
        <nav class="head-nav" id="home">
            <a class="head-logo " href="./index.html">SIMPLY&nbsp;<span class="head-second-logo">CHOCOLATE</span>
                <svg class="head-logo-svg" width="21" height="21">
                    <use href="./img/sprait.svg#icon-chocolate"></use>
                </svg>
            </a>
            <ul class="head-menu-list">
                <li class="head-menu-item">
                    <a class="head-menu-link" href="#home">Home</a>
                </li>
                <li class="head-menu-item">
                    <a class="head-menu-link" href="#how_it’s_made">How it’s made?</a>
                </li>
                <li class="head-menu-item">
                    <a class="head-menu-link" href="#our_products">Our products</a>
                </li>
                <li class="head-menu-item">
                    <a class="head-menu-link" href="#top_sellers">Top sellers</a>
                </li>
                <li class="head-menu-item">
                    <a class="head-menu-link" href="#chocolate_is_loved">Chocolate is loved</a>
                </li>
            </ul>
            <ul class="head-soc">
                <li class="head-soc-item">
                    <a class="head-soc-link" href="https://www.instagram.com/">
                        <svg class="head-soc-svg" width="24" height="24">
                            <use href="./img/sprait.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="head-soc-item">
                    <a class="head-soc-link" href="https://twitter.com/">
                        <svg class="head-soc-svg" width="24" height="24">
                            <use href="./img/sprait.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="mob-menu-open js-open-menu" type="button">
                <svg class="mob-menu-open-svg" width="28" height="28">
                    <use href="./img/sprait.svg#icon-menu"></use>
                </svg>
            </button>
        </nav>
    </div>

    <div class="head-mob-menu js-menu-container">
        <div class="head-mob-conteiner">
            <button class="head-menu-close js-close-menu" type="button">
                <svg class="head-close-svg" width="28" height="28">
                    <use href="../img/sprait.svg#icon-x"></use>
                </svg>
            </button>
            <ul class="head-mob-list">
                <li class="head-mob-item">
                    <a class="head-mob-link current" href="#home">Home</a>
                </li>
                <li class="head-mob-item">
                    <a class="head-mob-link" href="#how_it’s_made">How it’s made?</a>
                </li>
                <li class="head-mob-item">
                    <a class="head-mob-link" href="#our_products">Our products</a>
                </li>
                <li class="head-mob-item">
                    <a class="head-mob-link" href="#top_sellers">Top sellers</a>
                </li>
                <li class="head-mob-item">
                    <a class="head-mob-link" href="#chocolate_is_loved">Chocolate is loved</a>
                </li>
            </ul>
            <ul class="head-mob-soc">
                <li class="head-mob-soc-item">
                    <a class="head-mob-soc-link" href="https://www.instagram.com/">
                        <svg class="head-mob-soc-svg" width="22" height="22">
                            <use href="./img/sprait.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="head-mob-soc-item">
                    <a class="head-mob-soc-link" href="https://twitter.com/">
                        <svg class="head-mob-soc-svg" width="20" height="20">
                            <use href="./img/sprait.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>