<section class="hero">
    <div class="container">
        <div class="hero-fon">
            <h1 hidden></h1>
            <p class="hero-title">Treat yourself or a loved one
                to our finest ingredients for a moment of pure delight!</p>
            <div class="hero-btn-box">
                <button class="hero-btn-buy" data-modal-open-buy type="button">Buy now</button>
                <a class="hero-btn-link link" href="#how_its_made">How it’s made</a>
                <a class="hero-scroll-link link" href="#footer">scroll down
                    <svg class="hero-scroll-svg" width="28" height="28">
                        <use href="./img/sprait.svg#mob-scroll"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>