<section class="how-section">
  <div class="container how-container">
    <h2 id="how_its_made" class="how-title">
      How it's <span class="how-span">made?</span>
    </h2>
    <div class="how-video"></div>
    <div class="how-content">
      <h3 class="how-subject">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <div class="how-list-container">
        <ul class="how-list">
          <li class="how-element">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-element">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-element">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-element">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-element">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
