<section class="container section-our-products">
  <h2 class="our-products-title">
    OUR <span class="our-products-title-item">PRODUCTS</span>
  </h2>
  <div class="our-products-card-item">
    <picture class="our-products-pictures"
      ><source
        srcset="
          ./img/mobile-img/our-products-1-1x.jpg 1x,
          ./img/mobile-img/our-products-1-2x.jpg 2x
        " />
      <img
        src="./img/mobile-img/our-products-1-1x.jpg"
        alt="products"
        width="230"
        height="201"
    /></picture>
    <h3 class="our-products-subtitle">ORANGE</h3>
    <p class="our-products-text">Dark chocolate</p>
    <button type="button" class="our-producrts-btn">45 UAH</button>
  </div>
  <div class="swiper our-products-slaider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper our-products-slaider-item">
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-1-1x.jpg 1x,
              ./img/mobile-img/our-products-1-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-1-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">ORANGE</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">45 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-2-1x.jpg 1x,
              ./img/mobile-img/our-products-2-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-2-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">APPLE&CRANBERRY</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">50 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-3-1x.jpg 1x,
              ./img/mobile-img/our-products-3-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-3-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">LIME&SEA SALT</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">66 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-4-1x.jpg 1x,
              ./img/mobile-img/our-products-4-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-4-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">PINEAPPLE</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">54 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-5-1x.jpg 1x,
              ./img/mobile-img/our-products-5-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-5-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">CLASSIC</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">45 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-6-1x.jpg 1x,
              ./img/mobile-img/our-products-6-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-6-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">HONEY</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">50 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-7-1x.jpg 1x,
              ./img/mobile-img/our-products-7-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-7-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">ROASTED FRUITS</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">66 UAH</button>
      </div>
      <div class="swiper-slide our-products-card">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-8-1x.jpg 1x,
              ./img/mobile-img/our-products-8-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-8-1x.jpg"
            alt="products"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">CLASSIC</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">54 UAH</button>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <!-- <div class="our-products-slaider">
    <ul class="our-products-list">
      <li class="our-products-list-item">
        <picture class="our-products-pictures"
          ><source
            srcset="
              ./img/mobile-img/our-products-1-1x.jpg 1x,
              ./img/mobile-img/our-products-1-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-1-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">ORANGE</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">45 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-2-1x.jpg 1x,
              ./img/mobile-img/our-products-2-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-2-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">APPLE&CRANBERRY</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">50 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-3-1x.jpg 1x,
              ./img/mobile-img/our-products-3-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-3-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">LIME&SEA SALT</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">66 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-4-1x.jpg 1x,
              ./img/mobile-img/our-products-4-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-4-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">PINEAPPLE</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">54 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-5-1x.jpg 1x,
              ./img/mobile-img/our-products-5-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-5-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">CLASSIC</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">45 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-6-1x.jpg 1x,
              ./img/mobile-img/our-products-6-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-6-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">HONEY</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">50 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-7-1x.jpg 1x,
              ./img/mobile-img/our-products-7-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-7-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">ROASTED FRUITS</h3>
        <p class="our-products-text">Dark chocolate</p>
        <button type="button" class="our-producrts-btn">66 UAH</button>
      </li>
      <li class="our-products-list-item">
        <picture
          ><source
            srcset="
              ./img/mobile-img/our-products-8-1x.jpg 1x,
              ./img/mobile-img/our-products-8-2x.jpg 2x
            " />
          <img
            src="./img/mobile-img/our-products-8-1x.jpg"
            alt="photo"
            width="230"
            height="201"
        /></picture>
        <h3 class="our-products-subtitle">CLASSIC</h3>
        <p class="our-products-text">Milk chocolate</p>
        <button type="button" class="our-producrts-btn">54 UAH</button>
      </li>
    </ul>
  </div> -->
</section>
