<!-- -------------REVIEWS----------------- -->
<section class="reviews">
  <div class="container">
    <h2 class="reviews-title" id="chocolate_is_loved"><span class="rev-choko-title">CHOCOLATE</span> IS LOVED</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img srcset="../img/desktop-img/photo-1-2x.png 2x" src="./img/desktop-img/photo-1-1x.png" class="review-img"
          alt="Victoria Dobrzhanska" width="80" height="80" />
        <h3 class="reviews-subject">Victoria Dobrzhanska</h3>
        <p class="reviews-text">
          I love this chocolate bar. Perfect combination of light crispy
          wafer, covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-item rev-item-two">
        <img srcset="../img/desktop-img/photo-2-2x.png 2x" src="./img/desktop-img/photo-2-1x.png" class="review-img"
          alt="Nazar Babenko" width="80" height="80" />
        <h3 class="reviews-subject">Nazar Babenko</h3>
        <p class="reviews-text">
          This chocolate confection is a delight! A delight! The wafer
          is light and crisp, the hazelnut cream is smooth, and the
          chocolate is good.
        </p>
      </li>
      <li class="reviews-item rev-item-three">
        <img srcset="../img/desktop-img/photo-3-2x.png 2x" src="./img/desktop-img/photo-3-1x.png" alt="Olena Kampusch"
          class="review-img" width="80" height="80" />
        <h3 class="reviews-subject">Olena Kampusch</h3>
        <p class="reviews-text">
          Chocolate is a family favourite treat. Love the delicious
          smooth chocolate and the creaminess inside. The wafer is soft
          but crunchy.
        </p>
      </li>
    </ul>
    <button type="button" class="review-button">Leave a review</button>
  </section>  