<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/reviews.css" />
     <link rel="stylesheet" href="./css/reviews-tel.css" />
  </head>
  <body>
    <!-- -------------REVIEWS----------------- -->
    <section class="reviews">
      <div class="container reviews-container">
        <h2 class="reviews-title"><span class="chokolate-title">CHOCOLATE</span> IS LOVED</h2>
        <div class="reviews-container-two">
           
          <ul class="reviews-list list">
             
            <div class="reviews-pack">
            <div class="reviews-item">
              <li class="reviews-item list">
                <img src="./img/desktop-img/photo-1-1x.png"
                 alt="Victoria Dobrzhanska" width="80"/>
                <h3 class="reviews-subject">Victoria Dobrzhanska</h3>
                </div>
                <div class="test-puck">
                <p class="reviews-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p></div>
              </li>
            </div>
            
            
            <div class="reviews-pack">
<div class="reviews-item">
              <li class="reviews-item list">
                <img
                  src="./img/desktop-img/photo-2-1x.png"
                  alt="Nazar Babenko"  width="80"
                />
                <h3 class="reviews-subject">Nazar Babenko</h3>
                </div>
                <div class="test-puck">
                <p class="reviews-text">
                  This chocolate confection is a delight! A delight! The wafer
                  is light and crisp, the hazelnut cream is smooth, and the
                  chocolate is good.
                </p></div>
              </li></div>
            
            <div class="reviews-pack">
                <div class="reviews-item">
                  
              <li class="reviews-item list">
                <img
                  src="./img/desktop-img/photo-3-1x.png"
                  alt="Olena Kampusch"  width="80"
                />
                <h3 class="reviews-subject">Olena Kampusch</h3>
                </div>
                <div class="test-puck">
                <p class="reviews-text">
                  Chocolate is a family favourite treat. Love the delicious
                  smooth chocolate and the creaminess inside. The wafer is soft
                  but crunchy.
                </p></div>
              </li>
                  
            </div>
          </ul>
          
        </div>
     
        </div>
        <div class="swiper-reviews swiper-reviews-bullets swiper-reviews-horizontal">
        <span class="swiper-reviews-bullet swiper-reviews-bullet-active" aria-current="true"></span>
        <span class="swiper-reviews-bullet"></span>
        <span class="swiper-reviews-bullet"></span>
        <span class="swiper-reviews-bullet"></span>
      </div>
        <button type="button" class="review-button">Leave a review</button>
     
      </div>
    </section>
  </body>
</html>
