<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- -------------REVIEWS----------------- -->
    <section class="reviews">
      <div class="container reviews-container">
        <h2 class="reviews-title">
          <span class="chocolate-title">CHOCOLATE</span> IS LOVED
        </h2>
        <div class="reviews-container-two">
          <ul class="reviews-list list">
            <li class="reviews-item">
              <h3 class="reviews-subject">Victoria Dobrzhanska</h3>
              <p class="reviews-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </li>
            <li class="reviews-item">
              <h3 class="reviews-subject">Nazar Babenko</h3>
              <p class="reviews-text">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </li>
            <li class="reviews-item">
              <h3 class="reviews-subject">Olena Kampusch</h3>
              <p class="reviews-text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </li>
          </ul>
        </div>
        <button type="button" class="review-button">Leave a review</button>
      </div>
    </section>
  </body>
</html>
