
    <section class="subscribe">
        <div class="container subscribe-content">
            <h1 class="subscribe-tittle">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
            <p class="subscribe-subtitle">
                From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that
                will leave you
                craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is
                a work of art
                that is sure to please.</p>
            <button type="submit" class="subscribe-btn-submit" data-modal-open>Subscribe</button>
        </div>
            <div class="backdrop is-hidden" data-modal>
                <div class="sub-modal">
                    <button type="button" class="sub-modal-close-btn" data-modal-close>
                        <svg class="sub-modal-close-icon" width="14px" height="14px">
                            <use href="./img/sprait.svg#mob-menu-close"></use>
                        </svg>
                    </button>
                    <img class="sub-modal-img" srcset="./img/desktop-img/chocolate@2x.jpg 2x, ./img/desktop-img/chocolate@x1.jpg 1x"
                        src="./img/desktop-img/chocolate@x2.jpg" alt="">
                    <form class="sub-modal-form container-sm">
                        <h1 class="sub-modal-form-title">EXPLORE OUR <br> <span class="sub-modal-title-orange">NEW
                                CHOCOLATE</span> FIRST!</h1>
                        </label>
                        <span class="sub-modal-input-btn">
                            <label class="sub-modal-form-field">
                                <input type="email" name="user_email" class="sub-modal-form-input" placeholder="Enter your email"
                                    required>
                            </label>
                            <button type="submit" class="sub-modal-form-submit">Submit</button>
                        </span>
                    </form>
                </div>
            </div>


    </section>


