<!-- Veniamin -->
<section class="sellers-section">
  <div class="container">
    <h2 class="sellers-titl" id="top_sellers">
      <span class="sellers-titl-second">TOP</span> SELLERS
    </h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./img/desktop-img/top-sellers-desktop-1-1x.jpg 1x,
              ./img/desktop-img/top-sellers-desktop-1-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/tablet-img/top-sellers-tablet-1-1x.jpg 1x,
              ./img/tablet-img/top-sellers-tablet-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/top-sellers-mobile-1-1x.jpg 1x,
              ./img/mobile-img/top-sellers-mobile-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers-picture"
            src="../img/desktop-img/top-sellers-desktop-1-2x.jpg"
            alt="chocolate"
          />
        </picture>
        <p class="sellers-text-first">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./img/desktop-img/top-sellers-desktop-2-1x.jpg 1x,
              ./img/desktop-img/top-sellers-desktop-2-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/tablet-img/top-sellers-tablet-2-1x.jpg 1x,
              ./img/tablet-img/top-sellers-tablet-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/top-sellers-mobile-2-1x.jpg 1x,
              ./img/mobile-img/top-sellers-mobile-2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers-picture"
            src="../img/desktop-img/top-sellers-desktop-2-2x.jpg"
            alt="chocolate"
          />
        </picture>
      </li>
      <li class="sellers-item content">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/desktop-img/top-sellers-desktop-3-1x.jpg 1x,
              ./img/desktop-img/top-sellers-desktop-3-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/tablet-img/top-sellers-tablet-3-1x.jpg 1x,
              ./img/tablet-img/top-sellers-tablet-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/top-sellers-mobile-3-1x.jpg 1x,
              ./img/mobile-img/top-sellers-mobile-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="sellers-picture"
            src="../img/desktop-img/top-sellers-desktop-3-2x.jpg"
            alt="chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-wrap">
      <p class="sellers-text-second">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="sellers-btn" type="button"data-modal-open-buy>Buy now</button>
    </div>
  </div>
</section>
