<section class="unique-components">
    <div class="unique-components-container container">
        <h2 class="unique-components-font-style">
            IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION 
        </h2>
        <p class="unique-components-paragraph-font-style">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation. 
        </p>
        <ul class="unique-components-ul">
            <li class="unique-components-list list">
                <img srcset="" src="" alt="milk-chocolate" class="unique-components-milk-chocolate" width="206">
            </li>
            <li class="unique-components-list list">
                <img srcset="" src="" alt="milk bottle" class="unique-components-milk" width="206">
            </li>
            <li class="unique-components-list list">
                <img srcset="" src="" alt="hazelnut" class="unique-components-hazelnut" width="206">
            </li>
            <li class="unique-components-list list">
                <img srcset="" src="" alt="coffee beans" class="unique-components-beans" width="206">
            </li>
        </ul>    
    </div>
</section>
