<section id="unique-components" class="unique-components">
    <div class="unique-components-container container">
        <div class="unique-components-texts">
            <h2 class="unique-components-font-style">
                IT ALL ADDS UP TO ONE EXCEPTIONAL <span style="color: orange;">TASTE</span> SENSATION 
            </h2>
            <p class="unique-components-paragraph-font-style">
                At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation. 
            </p>
        </div>
        <div class="unique-components-pictures-texts">
            <ul class="unique-components-ul">
                <li class="unique-components-list list milk-chocolate">
                    <img srcset="./img/desktop-img/components-desktop-1-1x.png 1x, ./img/desktop-img/components-desktop-1-2x.png 2x" src="./img/desktop-img/components-desktop-1-1x.png " alt="milk-chocolate" class="unique-components-img-prop" width="206">
                    <p class="unique-components-chocolate-text">MILK CHOCOLATE</p>
                    <div class="overlay">
                        <h2 class="overlay-header">Milk chocolate</h2>
                        <button type="button" class="unique-components-btn-one overlay-text-one">chocolate</button>
                        <button type="button" class="unique-components-btn-two overlay-text-two">the benefits</button>
                        <p class="overlay-paragraph"> Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                    </div>
                </li>
                <li class="unique-components-list list milk">
                    <img srcset="./img/desktop-img/components-desktop-2-1x.png 1x, ./img/desktop-img/components-desktop-2-2x.png 2x" src="./img/desktop-img/components-desktop-2-1x.png" alt="milk bottle" class="unique-components-img-prop" width="206">
                    <p class="unique-components-milk-text">MILK</p>
                    <div class="overlay">
                        <h2 class="overlay-header">MILK</h2>
                        <button type="button" class="unique-components-btn-one">milk</button>
                        <button type="button" class="unique-components-btn-two">the benefits</button>
                        <p class="overlay-paragraph"> Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                    </div>
                </li>
                <li class="unique-components-list list nuts">
                    <img srcset="./img/desktop-img/components-desktop-3-1x.png 1x, ./img/desktop-img/components-desktop-3-2x.png 2x" src="./img/desktop-img/components-desktop-3-1x.png" alt="hazelnut" class="unique-components-img-prop" width="206">
                    <p class="unique-components-nuts-text">NUTS</p>
                    <div class="overlay">
                        <h2 class="overlay-header">NUTS</h2>
                        <button type="button" class="unique-components-btn-one">nuts</button>
                        <button type="button" class="unique-components-btn-two">the benefits</button>
                        <p class="overlay-paragraph"> Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own..</p>
                    </div>
                </li>
                <li class="unique-components-list list beans">
                    <img srcset="./img/desktop-img/components-desktop-4-1x.png 1x, ./img/desktop-img/components-desktop-4-2x.png 2x" src="./img/desktop-img/components-desktop-4-1x.png" alt="coffee beans" class="unique-components-img-prop" width="206">
                    <p class="unique-components-beans-text">SEMI - SWEET CHOCOLATE</p>
                    <div class="overlay">
                        <h2 class="overlay-header">semi - sweet chocolate</h2>
                        <button type="button" class="unique-components-btn-one">sweet chocolate</button>
                        <button type="button" class="unique-components-btn-two">the benefits</button>
                        <p class="overlay-paragraph"> Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow. </p>
                    </div>
                </li>
            </ul>  
        </div>  
    </div>
</section>
