.advantages {
    background: var(--dark-purple-background-color);
}

.adv-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.advantages-item {
    width: 100%;
}

.advantages-icon {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 15px;
}

.advantages-icon-box {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: var(--dark-purple-background-color);
    border-radius: 50%;
    margin-bottom: 22px;
}

.advantages-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--pure-white-background);
    margin-bottom: 18px;
}

.advantages-text {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

/* -----Order/Buy----- */

.backdrop-buy {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-buy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 311px;
    min-height: 994px;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 24px;
}
.modal-buy-close {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--background-color);
}
.modal-buy-close:is(:hover,:focus) {
    background-color: var(--btn-light-orange);
}

.modal-buy-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 32px;
}
.buy-part-title {
    color: var(--orange);
}

.modal-buy-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.modal-buy-card {
    width: 100%;
    height: 85px;
    background: var(--pure-white-background);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.modal-buy-mobile {
    display: flex;
    column-gap: 77px;
}

.buy-border-card {
    width: 70px;
    height: 29px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    background-color: var(--background-color);
    margin-top: 20px;
    margin-right: 16px;
}
.buy-border-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary-text-color);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.modal-buy-img,
.modal-buy-img-dark {
    margin-bottom: 8px;
    margin-left: 16px;
    /* width: 84px;
    height: 69px; */
}
.modal-buy-input,
.modal-buy-input-info {
    width: 100%;
    height: 66px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 18px;
    background-color: var(--background-color);
}

input::placeholder {
    padding-left: 24px;
}

.modal-buy-input-phone {
    width: 207px;
    height: 66px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 18px;
    padding-left: 106px;
    font-size: 18px;
    background-color: var(--background-color);
}

.modal-buy-input-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
    position: relative;
}

.modal-buy-input-icon {
    position: absolute;
    top: 44px;
    left: 24px;
}

.modal-span-input {
    position: absolute;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    top: 50px;
    left: 74px;
}

.modal-buy-icon-card {
    position: absolute;
    right: 24px;
    top: 45px;
}

.modal-buy-comment {
    width: 100%;
    height: 137px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
    resize: none;
    font-size: 18px;
    line-height: 1.22;
    color: rgba(64, 64, 64, 0.3);
    margin-top: 8px;
    background-color: var(--background-color);
}
textarea::placeholder {
    padding-top: 24px;
    padding-left: 20px;
}
.modal-buy-btn {
    width: 109px;
    height: 41px;
    background: var(--orange);
    border-radius: 100px;
    border: none;
    margin-top: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--pure-white-background);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy-btn:is(:hover,:focus) {
    background-color: var(--btn-light-orange);
}