@media screen and (min-width: 375px) {
    .advantages-item {
        width: 308px;
    }
    .advantages-text {
        width: 295px;
    }

    .modal-buy {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 311px;
    min-height: 994px;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 24px;
}
    .modal-buy-form {
        width: 263px;
    }
}