@media screen and (max-width: 767px) {
  .how-section {
    margin: 0;
    padding-bottom: 72px;
  }
  .how-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 20px;
    margin-right: 20px; */
  }
  .how-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;

    margin-bottom: 32px;
  }
  .how-span {
    color: #fd9222;
  }
  @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .how-video {
      display: flex;
      align-self: center;
      min-width: 335px;
      min-height: 500px;
      max-width: 335px;
      max-height: 500px;

      border-radius: 15px;
      background-image: url(../img/mobile-img/how-its-made-mobile-1x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .how-video {
      display: flex;
      align-self: center;
      min-width: 335px;
      min-height: 500px;
      max-width: 335px;
      max-height: 500px;

      border-radius: 15px;
      background-image: url(../img/mobile-img/how-its-made-mobile-1x.jpg);
    }
  }
  .how-content {
    max-width: 307px;
    padding: 20px 14px;
    display: flex;
    align-self: center;
    flex-direction: column;

    background-color: #ffffff;
    border-radius: 15px;
  }
  .how-subject {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;

    color: #111111;

    margin-bottom: 20px;
  }
  .how-list-container {
    max-width: 350px;
    padding: 0 15px;
  }
  .how-list {
    list-style: disc;
  }
  .how-element {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;

    letter-spacing: -0.02em;

    color: #111111;
  }
  .how-element:not(:last-child) {
    margin-bottom: 18px;
  }
}
