@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section-our-products {
    margin-bottom: 100px;
  }
  .swiper {
    display: block;
  }
  .our-products-card-item {
    display: none;
  }
}
