@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .swiper {
    display: block;
    /* width: 335px; */
    height: 397px;
  }
  .our-products-card-item {
    display: none;
  }
}
