@media screen and (min-width: 768px) {
  .container {
    /* max-width: 768px; */
  }
  .section-our-products {
    padding-bottom: 100px;
  }

  .our-products-card {
    width: 268px;
    height: 298px;
  }
}
