:root {
  --primary-text-color: #111111;
  --dark-purple-background-color: #1e1823;
  --orange: #fd9222;
  --white: #fafafa;
  --pure-white-background: #ffffff;
  --btn-light-orange: #fcf1e0;
  --background-point: rgba(17, 17, 17, 0.1);
  --background-color: #E2E2E2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}