:root {
  --primary-text-color: #111111;
  --dark-purple-background-color: #1e1823;
  --orange: #fd9222;
  --white: #fafafa;
  --pure-white-background: #ffffff;
  --btn-light-orange: #fcf1e0;
  --background-point: rgba(17, 17, 17, 0.1);
  --background-color: #e2e2e2;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 1.29;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reviews */
.reviews {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
  text-align: center;
}
.container {
}

.reviews-container {
  padding: 128px 0;
}
.reviews-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}
.chokolate-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
}
.reviews-pack {
  width: 360px;
  height: 242px;
}
.reviews-item {
  margin-left: 57px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 200px;
  height: 122px;
}
.reviews-container-two {
}
.reviews-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.reviews-item {
}
.test-puck {
  box-sizing: border-box;
  margin-top: 42px;
  width: 360px;
  height: 242px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.reviews-subject {
}
.reviews-text {
  margin-left: 44px;
  margin-right: 44px;
  margin-top: 120px;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.review-button {
  margin-top: 0;
  margin-bottom: 0;

  padding: 14px 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #111111;
  background-color: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 100px;
  color: #111111;
  transition-duration: 1250ms;
  transition-timing-function: var(--cubic);
}
.review-button:hover {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--orange);

  color: #ffffff;
}

/*--------------------- swiper ---------------*/
.swiper-pagination-bullet {
  width: 130px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  background-color: var(--orange);
  width: 28px;
  height: 13px;
  border-radius: 10px;
}
