.reviews {
  padding-bottom: 72px;
}

.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 74px;
}

.rev-choko-title {
  color: var(--orange);
}

.reviews-list {
  margin-bottom: 32px;
}


.reviews-item {
  position: relative;
  text-align: center;
  max-width: 335px;
  height: 200px;
  background: var(--pure-white-background);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  padding: 0 18px;
}

.review-img {
  position: absolute;
  right: 50%;
  top: 0;
  transform: translate(50%, -50%);
}

.reviews-subject {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 56px;
  margin-bottom: 24px;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: auto
}

.review-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--primary-text-color);
  border: 1px solid var(--orange);
  background-color: transparent;
  border-radius: 100px;
  padding: 12px 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.review-button:hover,
.review-button:focus {
  background-color: var(--orange);
  color: var(--pure-white-background);
}

/* === Modal === */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  position: absolute;
  width: 90%;
  max-width: 311px;
  height: 471;
  font-family: Montserrat, sans-serif;
  background: #FAFAFA;
  border-radius: 15px;
  padding: 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  display: flex;
  top: 14px;
  right: 14px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
  fill: #111111;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-modal-icon,
.modal-close:focus .close-modal-icon {
  fill: #FD9222;
  transform: scale(1.3);
}

.modal-main-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #111111;
}

.text-span {
  color: #FD9222;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


/* ===== Modal Form ===== */

.modal-send-button {
  color: #FFFFFF;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  padding: 12px 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #FCF1E0;
  color: #FD9222;
}


.form-input {
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 14px 18px;
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.form-input:not(:last-child) {
  margin-bottom: 14px;
}

.form-label {
  position: relative;
}

.form-label-tel {
  position: absolute;
  color: #000000;
  left: 50px;
  top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.form-icon {
  position: absolute;
  left: 18px;
  top: -2px;

}

.tel-input {
  padding-left: 106px;
}

.text-area {
  width: 100%;
  height: 91px;
  border-radius: 8px;
  resize: none;
  display: block;
  margin-bottom: 18px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.form-input::placeholder,
.text-area::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}