/* Reviews */
.reviews {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #e2e2e2;
  text-align: center;
  padding: 128px 0;
}
.container {
}

.reviews-container {
}
.reviews-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}
.chokolate-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
}
.reviews-pack {
  width: 360px;
  height: 242px;
}
.reviews-item {
  margin-left: 57px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 200px;
  height: 122px;
}
.reviews-container-two {
}
.reviews-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.reviews-item {
}
.test-puck {
  box-sizing: border-box;
  margin-top: 42px;
  width: 360px;
  height: 242px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.reviews-subject {
}
.reviews-text {
  margin-left: 44px;
  margin-right: 44px;
  margin-top: 120px;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.review-button {
  margin-top: 0;
  margin-bottom: 0;

  padding: 14px 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #111111;
  background-color: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 100px;
  color: #111111;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.review-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--orange);

  color: #ffffff;
}

/*--------------------- swiper ---------------*/
.swiper-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.swiper-reviews-bullet {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background: rgba(17, 17, 17, 0.1);
}
.swiper-reviews-bullet-active {
  background-color: var(--orange);
  width: 28px;
  height: 13px;
  border-radius: 10px;
}

/* тест */
