@media screen and (max-width: 767px) {

  .rev-item-two {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 114px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 91px;
  }

  .reviews-list {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
  }

  .reviews-item {
    width: 344px;
    padding: 0 16px;
  }

  .review-button {
    font-size: 14px;
    line-height: 1.22;
    padding: 14px 40px;
  }


}
@media screen and (min-width: 768px) {
  .modal-container {
      max-width: 517px;
      padding: 40px;
  }

  .modal-close {
      width: 28px;
      height: 28px;
  }

  .modal-main-title {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.16;
  }

  .form-input {
      height: 66px;
      border-radius: 13px;
      margin-bottom: 19px;
  }

  .form-label-tel {
      margin-left: 18px;
  }

  .form-icon {
      width: 32px;
      height: 32px;
      top: -7px;
      left: 24px;
  }

  .text-area {
      width: 100%;
      height: 137px;
      border-radius: 13px;
      resize: none;
      display: block;
      color: rgba(64, 64, 64, 0.3);
      padding: 22px 24px;
      border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .modal-send-button {
      padding: 14px 40px;
  }
}