@media screen and (min-width: 768px) {
  .container {
    /* max-width: 768px; */
  }
  .reviews {
    margin-bottom: 100px;
  }
  .reviews-container {
    display: block;
  }
  .reviews-list {
    display: none;
  }
}
